.archive.tax-product_cat.term-cabins{

    .products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 1rem;
        margin: 0 auto;
        max-width: 67rem;
    
        img {
            display: block;
            margin: 0 auto;
            border-radius: 10px;
        }

        li {
            background-color: $color__bg_offwhite;
            box-shadow: rgb(50 50 93 / 15%) 0px 13px 27px -5px, rgb(0 0 0 / 30%) 0px 8px 16px -8px;
            padding: 1rem 2rem 5rem 2rem;
            margin: 1rem;
            width: 30rem;
            position: relative;
            border-radius: 10px;
        }

        p {
            padding-left: 2rem;
        }

        a {
            text-decoration: none;
            color: $color__text_main;

            .price {
                display: block;
                text-align: center;
            }
        }

       
        .woocommerce-Price-amount {
            font-size: 1.5rem;
        }

        .button.add_to_cart_button {
            position: absolute;
            bottom: 1rem;
            left: 0;
            right: 0;    

            @include button-mobile;
            max-width: 150px;
         
            @media screen and (min-width: $mq__desktop_small) {
                @include button-desktop;
                max-width: 165px;
            }
        }
    }

    .map-container {
        margin: 0 auto;
        max-width: 50rem;
        padding: 1rem 2rem;
    }
}

.woocommerce-products-header__title.page-title {
    display: none;
}
